html {
	padding: 0;
	margin: 0;
	min-width: 34em;
}

body {
	padding: 0 5vw 8em 5vw;
	box-sizing: border-box;
	width: 100%;
	max-width: 68em;
	margin: 1em auto;
	
	font: 400 10pt Arial, sans-serif;
	background: #1a1a1c;
	color: #f2f2f3;
	line-height: 1.35;
	-webkit-text-size-adjust: 140%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block: 0.6em;
}

h1 { font-size: 200%; }
h2 { font-size: 145%; }
h3 { font-size: 130%; }
h4 { font-size: 110%; }
h5 { font-size: 105%; }
h6 { font-size: 100%; }

p {
	margin-block: 0.79em;
}

a,
a:visited {
	color: #57a5f9;
}

a[href][target='_blank'] {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewbox='0 0 12 12'%3E%3Cpath fill='%2357a5f9' d='M6 1h5v5L8.86 3.85 4.7 8 4 7.3l4.15-4.16zM2 3h2v1H2v6h6V8h1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1'/%3E%3C/svg%3E");
	background-position: center right;
	background-size: 0.9em 0.9em;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

ol,
ul,
li {
	margin-block: 0.5em;
}

ol,
ul {
	padding-inline-start: 2.1em;
}

li::marker {
	font-weight: bold;
}

details {
	border: 2px solid #4a4a4a;
	border-radius: 4px;
	background: #2b2b2b;
	padding: 1.5ch;
	margin-block: 1ch;
}

details summary {
	font-size: 120%;
	cursor: pointer;
}

footer {
	text-align: center;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1ch;
}

.flex-column {
	display: flex;
	flex-direction: column;
	gap: 1.5ch;
}

.self-center {
	align-self: center;
}

.gapless {
	gap: 0;
}

#basic-ai-container {
  --border-color: #2d5384;
  --header-background-color: #6da4fb;
  --header-color: #071535;
  --body-background-color: #e3eaff;
}

#strong-ai-container {
  --border-color: #862e2e;
  --header-background-color: #fd6565;
  --header-color: #390808;
  --body-background-color: #ffd8d8;
}

#expert-ai-container {
  --border-color: #15551e;
  --header-background-color: #54ca51;
  --header-color: #0d2804;
  --body-background-color: #b7eeb9;
}

#double-enemy-ai-container {
  --border-color: #464b62;
  --header-background-color: #82889b;
  --header-color: #151720;
  --body-background-color: #e2e2f9;
}

#double-ally-ai-container {
  --border-color: #973b91;
  --header-background-color: #ffa0fe;
  --header-color: #3f164a;
  --body-background-color: #ffdbfd;
}
#ai-subtitle {
	text-align: center;
}

.ai-header,
.ai-body {
	border: 2px solid var(--border-color);
	box-shadow: 0 0 4px 0 #0005;
}

.ai-header {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 120%;
	font-weight: bold;
	padding: 0.6ch 1ch;
	
	color: var(--header-color);
	background-color: var(--header-background-color);
}

.ai-body {
	border-top-width: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	gap: 0.5ch;
	padding: 1ch;
	
	color: #000e;
	background-color: var(--body-background-color);
}

.ai-body.move-info {
	border-top-width: 2px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-top: 1ch;
	margin-bottom: 1ch;
}

.ai-spacer {
	height: 1.6ch;
}

.ai-list {
	margin-top: 3ch;
}
